.container {
  background-image: url(../img/fond.jpeg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  color: white; }
  .container .grid-container {
    display: grid;
    grid-template-areas: 'pics title title title ' 'pics title title title  ' 'AboutMe AboutMe AboutMe AboutMe  ' 'icon-bar  icon-bar  icon-bar  icon-bar '; }
    .container .grid-container .pics {
      grid-area: pics;
      text-align: center; }
      .container .grid-container .pics img {
        border-radius: 100%;
        max-width: 75%;
        margin-top: 10%; }
    .container .grid-container .title {
      grid-area: title; }
    .container .grid-container .AboutMe {
      grid-area: AboutMe;
      margin: 5%;
      text-align: justify; }
    .container .grid-container .icon-bar {
      transform: translateY(-50%);
      margin-top: 4%;
      grid-area: icon-bar;
      text-align: center; }
      .container .grid-container .icon-bar a {
        display: inline;
        text-align: center;
        padding: 5px;
        margin: 3px;
        transition: all 0.3s ease;
        color: white;
        font-size: 40px; }
        .container .grid-container .icon-bar a:hover {
          background-color: #b5f012; }
      .container .grid-container .icon-bar .twitter {
        background: #55ACEE;
        color: white; }
      .container .grid-container .icon-bar .linkedin {
        background: #007bb5;
        color: white; }
      .container .grid-container .icon-bar .github {
        background: #171515;
        color: white; }
